.container{
  position: relative;
}

.seePassword{
  position: absolute;
  right: 0;
  height: 37px ;
  width: 37px !important;
  padding: 0 !important;
}

.seePassword:focus{
  outline: none;   
  box-shadow: none;
}
